<div class="container">
    <div class="gestion-les-preuves-3yQ">
        <div class="auto-group-5nue-yMG">
          <div class="ellipse-30-4tW">
          </div>
       
          
          
         
          <p class="gestion-les-preuves-5dg">Gestion les épreuves</p>
          <p class="recent-customers-mWW">Consulter tous les listes des épreuves dans votre établissement</p>
          <div class="rectangle-2363-s3k">
          </div>
          <p class="ajouter-une-preuve-ktE">Ajouter une épreuve</p>
          <img class="uiessentialiconexpanded-03-64-1-fVQ" src="./assets/uiessentialiconexpanded-03-64-1-Juc.png"/>
          <div class="line-25-ykz">
          </div>
          <div class="group-289215-hwt">
            <div class="group-289209-qHQ">
              <p class="prcdent-Ljx">
                <span class="prcdent-Ljx-sub-0">&lt;&lt; </span>
                <span class="prcdent-Ljx-sub-1">Précédent </span>
                <span class="prcdent-Ljx-sub-2">   </span>
              </p>
              <div class="auto-group-wewj-gBY">1</div>
              <p class="suivant--9qp">
                <span class="suivant--9qp-sub-0">Suivant </span>
                <span class="suivant--9qp-sub-1">&gt;&gt;</span>
              </p>
            </div>
            <div class="rectangle-4280-8xe">
            </div>
            <div class="group-289211-fhg">
              <p class="prcdent-yiN">
                <span class="prcdent-yiN-sub-0">&lt;&lt; </span>
                <span class="prcdent-yiN-sub-1">Précédent </span>
                <span class="prcdent-yiN-sub-2">   </span>
              </p>
              <div class="auto-group-svp8-YQ6">1</div>
              <p class="suivant--dgS">
                <span class="suivant--dgS-sub-0">Suivant </span>
                <span class="suivant--dgS-sub-1">&gt;&gt;</span>
              </p>
            </div>
            <div class="group-289210-qGi">
              <div class="group-100-LzA">
                <div class="frame-427319204-Epe">
                  <div class="frame-427319205-zJ2">
                    <p class="n-8QE">N°</p>
                    <p class="type-FDx">Type </p>
                    <p class="matire-NJa">Matiére</p>
                    <p class="classe-cyc">Classe</p>
                    <p class="actions-Luc">Actions</p>
                  </div>
                </div>
              </div>
              <div class="frame-427319210-G2a">
                <div class="auto-group-avja-mk2">
                  <p class="item-1-UuL">1</p>
                  <p class="ds-DM8">DS</p>
                  <p class="test-wnv">test</p>
                  <p class="test-H66">test</p>
                </div>
                <div class="frame-427319206-pLv">
                  <img class="edit-64-2-mGA" src="./assets/edit-64-2-wB4.png"/>
                  <img class="trash-alt-64-1-Gii" src="./assets/trash-alt-64-1-1An.png"/>
                </div>
              </div>
              <div class="rectangle-161-Zhp">
              </div>
              <div class="auto-group-snw8-5AN">
                <div class="frame-427319207-nqU">
                </div>
                <div class="frame-427319212-iUE">
                  <div class="auto-group-quja-TRp">
                    <p class="item-2-Zze">2</p>
                    <p class="examen-JhL">Examen</p>
                    <p class="test-F6n">Test</p>
                    <p class="test-Nx6">test</p>
                  </div>
                  <div class="frame-427319208-uh8">
                    <img class="edit-64-3-Fkz" src="./assets/edit-64-3-4K8.png"/>
                    <img class="trash-alt-64-2-zCn" src="./assets/trash-alt-64-2-3RG.png"/>
                  </div>
                </div>
              </div>
              <div class="rectangle-225-iPg">
              </div>
              <div class="rectangle-226-FPc">
              </div>
              <div class="rectangle-227-PEv">
              </div>
            </div>
          </div>
          <img class="ionicon-d-document-text-HLJ" src="./assets/ionicon-d-document-text.png"/>
        </div>
        <div class="candidates-CTG">
          <p class="elston-gullan-VxA">West Coast Managers</p>
          <p class="frond-end-developer-cG6">45</p>
          <p class="jun-21-2019-7yY">74%</p>
          <p class="googleinc-Skv">66%</p>
        </div>
      </div>
</div>