<div class="loader-bg">
    <div class="loader-track">
    <div class="loader-fill"></div>
    </div>
    </div>
    
    
    <nav class="pc-sidebar">
    <div class="navbar-wrapper">
    <div class="m-header">
    <a href="#" class="b-brand text-primary">
    <img src="../../../../assets/images/Logo.png" style="margin-right: 10px;" alt="">
    <img src="../../../../assets/images/Dsmslogo.png" height="50px" width="100px" alt="">
    </a>
    </div>
    <div class="navbar-content">
    <ul class="pc-navbar">
    <li class="pc-item pc-caption">
    <label>Tableau de bord</label>
    <i class="ti ti-dashboard"></i>
    </li>
    <li class="pc-item">
    <a href="#" class="pc-link"><span class="pc-micon"><i class="ti ti-dashboard"></i></span><span class="pc-mtext">Dashboard directeur</span></a>
    </li>
    <li class="pc-item pc-caption">
    <label>Pages</label>
    <i class="ti ti-news"></i>
    </li>
    <li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-user"></i></span><span class="pc-mtext">Utilisateur</span><span class="pc-arrow"></span></a>
    
    </li>
    
    <li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-school"></i></span><span class="pc-mtext">Gestion de l'ecoles </span><span class="pc-arrow"></span></a>
    </li>
    <li class="pc-item pc-hasmenu">
        <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-school"></i></span><span class="pc-mtext">Gestion des notes  </span><span class="pc-arrow"></span></a>
    </li>
    <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-school"></i></span><span class="pc-mtext">Boites aux lettres </span><span class="pc-arrow"></span></a>
    </li>
    <li class="pc-item pc-caption">
    <label>Support</label>
    <i class="ti ti-brand-chrome"></i>
    </li>
    <li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">Préferences</span><span class="pc-arrow"></span></a>
    
    </li>
    <li class="pc-item"><a href="#" class="pc-link"><span class="pc-micon"><i class="ti ti-brand-chrome"></i></span><span class="pc-mtext">Tools</span></a></li>
    </ul>
    <div class="pc-navbar-card bg-primary rounded">
    <h4 class="text-white">Deconnecté</h4>
    <a href="#" target="_blank" class="btn btn-light text-primary">Logout</a>
    </div>
    <div class="w-100 text-center">
    <div class="badge theme-version badge rounded-pill bg-light text-dark f-12"></div>
    </div>
    </div>
    </div>
    </nav>