<div class="login-container">
    <div class="background-rectangle"></div>
    <div class="horizontal-line"></div>
    <div class="image-container-left">
      <img class="image-left" src="../../../assets/images/saly-3.png"/>
    </div>
    <div class="image-container-right">
      <img class="image-right" src="../../../assets/images/saly-2.png"/>
    </div>
    <div class="login-form">
      <img class="logo" src="../../../assets/images/Dsmslogo.png"/>
      <div class="username-container">
        <p class="label-username">Enter your username or email address</p>
        <input type="text" class="input-username" placeholder="username or email address">
      </div>
      <div class="password-container">
        <div class="password-inner-container">
          <p class="label-password">Enter your Password</p>
          <input type="password" class="input-password" placeholder="Enter your password">
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </div>
      <button class="sign-in-button">Sign in</button>
      <p class="no-account">
        <span class="no-account-text">No Account?</span>
        <span class="no-account-space"></span>
        <a href="#" class="sign-up-link">Sign up</a>
      </p>
    </div>
  </div>
